<div class="form">
  <div class="text-center">
    <h4 class="text-center">exclusive to real friends</h4>
    <p>to access the beer wall app you gotta prove your friendship by signing up</p>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, label: false, placeholder: "Email", required: false, autofocus: true %>
        <%= f.input :password, label: false, placeholder: "Password", required: false %>
        <%= f.input :remember_me, inner_html: { class: 'Remember' }, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn-block" %>
      </div>
  <% end %>

  <div class="links">
    <%= link_to "Forgot password?", new_password_path(resource_name) %>
  </div>

</div>
