
<div class="cards">
  <p><%= @photo.description %></p>
  <% @beers.each do |beer| %>
      <div class="card">
        <div class="left">
          <div class="column stuff">
            <h4><%= beer.name.titleize %></h4>
            <div class="left">
              <p><%= beer.country.titleize %></p>
              <p><i class="fa fa-beer"></i> <%= beer.alcohol_percent %> % </p>
            </div>
          </div>
        </div>
        <div class="right">
          <%= image_tag("heart.png",size: "30x30", :alt => "wanted") %>
          <%= image_tag("addbeericon.png",size: "50x30", :alt => "beer") %>
        </div>
      </div>
  <% end %>
</div>
<div class="footer">
  <div class="text-center camera">
    <%= link_to image_tag("004-photo-camera.png",size: "30x30", :alt => "beer"), photos_new_path, class: "gq-link" %>
  </div>
  <div class="search">
    <%= simple_form_for(dont_have_beers_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Beers" %>
        <%= submit_tag "Search", :name => nil, class: "btn"  %>
    <% end %>
  </div>
</div>

